@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.bk-color {
  background-color: hsl(193, 100%, 96%);
}

.bg-hero {
  position: relative;
  background-color: hsl(208, 11%, 55%);
}
.bk-img img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
nav img {
  width: 150px;
  height: 32px;
}
nav .try {
  padding: 8px 35px;
  background-color: #ffff;
  border: 1px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bg-sec {
  margin: 120px auto;
  text-align: center;
  max-width: 500px;
}
.bg-sec h2 {
  font-size: 40px;
  margin: 30px 0;
}
.bg-sec p {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0;
}
.bg-sec .get {
  color: #ffff;
  padding: 15px 80px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 40px;
  border: 1px;
  font-size: 16px;
}
.bg-sec .mockup {
  margin: 113px 0;
}

.third-sec {
  background-color: #ffff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px 0;
}
.third-sec .grow {
  width: 400px;
  margin: 0 auto 40px;
}
.third-sec .words-grow h2 {
  font-size: 30px;
  padding: 30px;
}
.third-sec .words-grow p {
  font-size: 24px;
  color: hsl(208, 11%, 55%);
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
}
.ready {
  background-color: #ffff;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px 0;
  position: relative;
  bottom: -178px;
}
.ready p {
  font-size: 24px;
  margin: 20px 0;
}
.ready .gets {
  color: #ffff;
  padding: 15px 80px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 40px;
  border: 1px;
  font-size: 16px;
  margin: 20px 0;
}
.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding-top: 250px;
}
.footer-logo img {
  color: #ffff;
  width: 270px;
}
.footer-list ul li img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}
.footer-list ul li {
  display: flex;
  align-items: baseline;
  margin: 20px 0;
  max-width: 350px;
}
footer .list-items ul li {
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0;
  max-width: 350px;
}
footer .footer-img {
  text-align: center;
  margin: 20px;
}
footer .footer-img img {
  width: 40px;
  padding: 10px;
}
footer p {
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .bg-sec {
    display: flex;
    justify-content: space-between;
    max-width: none;
    text-align: left;
    align-items: center;
    margin: 0 auto;
  }

  .bg-sec .build {
    width: 40%;
  }
  .bg-sec .mockup {
    width: 40%;
  }

  .bg-sec h2 {
    font-size: 30px;
    margin: 0 0;
  }
  .bg-sec p {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
  }
  .bg-sec .get {
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 14px;
  }
  .bg-sec .mockup {
    width: 475px;
  }

  .third-sec {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
  }
  .no-reverse {
    flex-direction: row;
  }

  .third-sec .grow {
    width: 400px;
    margin: 0 auto 40px;
  }
  .third-sec .words-grow h2 {
    font-size: 16px;
    padding: 10px 0;
  }
  .third-sec .words-grow p {
    font-size: 12px;
    font-weight: 300;
    max-width: 400px;
  }
  .third-sec .grow {
    margin: 0;
  }

  footer .footer .footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
  }
  footer .footer .footer-flex .footer-list {
    font-size: 10px;
  }
  footer .list-items ul li {
    font-size: 10px;
    /* max-width: 150px; */
  }

  footer .footer-img img {
    width: 20px;
    padding: 5px;
    position: relative;
    bottom: -17px;
  }
  footer p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 7px;
    position: relative;
    bottom: -120px;
  }
  footer .footer-img {
    text-align: left;
  }
}

@media (min-width: 1100px) {
  .bg-sec .mockup {
    width: 600px;
  }

  .third-sec .grow {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .third-sec .grow {
    width: 300px;
  }
}
